.App {
  background: black;
  color: white;
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}

.App h1 {
  background: url('assets/cookie-bg.png') repeat;
  background-size: 30px 30px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1::after {
  content: 'Cracker';
  background: url('assets/cracker-bg2.png') repeat;
  background-size: 30px 30px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App h2 {
  font-size: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

figure {
  margin: 0;
}

.cookie {
  background-image: url('assets/cookies.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  transform: scale(5);
}

.strawberry-heart {
  background-position: -49px -17px;
}